@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
.highcharts-root{
  font-family: 'Ubuntu Mono', 'Noto Sans TC', monospace !important;
}
#parentContainer {
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
#container{
  height: calc(100vh - 90px);
  height: calc(100svh - 90px);
}
#value{
  font-family: 'Ubuntu Mono', monospace;
  position: fixed;
  right: 8px;
  bottom: 90px;
  font-size: 90px;
  font-weight: bold;
}
#play-controls {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  background: #494949;
  padding: 5px;
  padding-right: 10px;
  border-radius: 100em;
  width: 90vw;
  display: flex;
  gap: 10px;
  align-items: center;
}

#play-pause-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 3px;
  background: #353535;
  color: #fff;
  border-radius: 100em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#play-pause-button:hover {
  background: #181818;
}

#play-range {
  width: 100%;
  accent-color: rgb(187, 187, 187);
}